server:
  port: 8082

spring:
  application:
    name: order-service

management:
  endpoints:
    web:
      exposure:
        include: "*"

springdoc:
  swagger-ui:
    path: /swagger-ui.html

feign:
  hystrix:
    enabled: true

logging:
  level:
    com.example.orderservice: INFO

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
