server:
  port: 8081

spring:
  application:
    name: product-service

management:
  endpoints:
    web:
      exposure:
        include: "*"

springdoc:
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.example.productservice: INFO

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
